
<script type="text/javascript">
  $(document).ready(function(){
    $('#status').hide();
  });
</script>
<%= link_to "I'm ready to move on!", pages_check_in_path, :method => "POST", :remote => true %>
<div id="status"></div>