
<script type="text/javascript">
	$(document).ready(function(){
		$("#undo_checkin_link").hide();
	});
</script>

<style type="text/css">

	a {
		text-decoration: none;
	}

	.button_link {
		padding: 20px;
		background-color: #01a618;
		color: white;
		margin-bottom: 10px;
		margin-top: 20px;
		margin-left: 20px;
		display: block;
		width: 350px;
		text-align: center;
		border-radius: 10px;
		font-family: "Helvetica", sans-serif;
		font-size: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.button_link:hover {
		background-color: #01c01c;
	}

	.red {
		color: red;
	}

</style>

<%= link_to "I'm ready to move on", pages_check_in_path, :method => "POST", :remote => true, :class => "button_link" %>

<div id="stats" style="width: 350px; padding: 0 20px 0 20px; border: 1px solid black; margin-left: 20px;">
	<div id="checkin_info">
		<% if @checkin == nil %>
		<p>
			You have not checked in.
		</p>
		<% else %>
		<p>
			You checked in at <%= @checkin.created_at.localtime %>.
		</p>
		<p id="undo">
			<%= link_to "Undo check-in", pages_undo_checkin_path, :remote => true, :class => "red" %>
		</p>
		<% end %>
	</div>
	<p id="undo_checkin_link">
		<%= link_to "Undo check-in", pages_undo_checkin_path, :remote => true, :class => "red" %>
	</p>

</div>

