<script type="text/javascript">
	$(document).ready(function(){
    	$('#checkin_completion').hide();
    	$('#checkin_stats').hide();
    	$('#submit_count').click(function(){
    		var class_total = $('#expected_count').val();
    		$('#expected_checkins').hide();
    		$('#checkin_stats').fadeIn(300);
    		time=setInterval(function(){
            	$.getJSON('<%= pages_checkin_counter_path %>', function(data){
            		$('#checkin_count').html(data);
            		if(class_total == data){
            			$('#checkin_completion').fadeIn(300);
            		}
            	});
            },3000);
    	});
  	});
</script>

<div id="expected_checkins">
 	<p># of check-ins expected:</p>
 	<input type="text" id="expected_count"> <a id="submit_count" style="cursor: pointer; color: blue;">Submit</a>
</div>

<div id="checkin_stats">
	<h1 id="checkin_count">0</h1>
</div>

<div id="checkin_completion">
	<p>Everyone has checked in.</p>
	<p id="reset_checkins"><%= link_to "Clear check-ins", pages_reset_checkins_path, :remote => true %></p>
</div>

